/* Styles existants */

.slides {
  display: flex;
  transition: transform 0.8s cubic-bezier(0.25, 1, 0.5, 1); /* Animation fluide */
}

.slide {
  opacity: 0; /* Initialement masqué */
  transition: opacity 0.8s ease-in-out; /* Transition d'opacité */
}

.slide.active {
  opacity: 1; /* Affiche l'image active */
}
