/* Style général */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url('image/font.png');
    background-repeat: no-repeat; /* Évite que l'image se répète */
    background-size: cover; /* Ajuste l'image pour couvrir tout l'écran */
    background-position: center; /* Centre l'image */
  }

header {
    background: #4CAF50;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
}

section.collapsible {
    margin-bottom: 10px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

section.collapsible:hover {
    transform: scale(1.01);
}

section.collapsible h2 {
    margin: 0;
    padding: 15px;
    display: flex;
    justify-content: space-between; /* Flèche à droite */
    align-items: center;
    background: #333;
    color: #fff;
}

section.collapsible .content {
    display: none;
    padding: 15px;
    animation: slideDown 0.5s ease forwards;
}

section.collapsible .content img {
    max-width: 75%;
    border-radius: 5px;
    margin-bottom: 10px;
}
footer {
   text-align: center; 
}

/* Animation de glissement */
@keyframes slideDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        max-height: 1000px;
        opacity: 1;
    }
}

/* Style de la flèche */
.arrow {
    font-size: 1.2em;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.arrow.open {
    transform: rotate(-90deg); /* Rotation de la flèche lorsqu'elle est ouverte */
}
